<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.2.6600.0" authCookieName=".SFAUTH-SF_WOP" rolesCookieName=".SFROLES-SF_WOP" validationKey="6511312E44520ABC4698384FCC838F8D979FDE87D274FF865E53A70AAA7AADE850CF636F87BED0A7541CDD61B6336B7FC6D7E6F3900E47C1971DD5768E40CCB8" decryptionKey="2A0D526B3B2BC23CA457915E5EE3AE4E5FD9F1E6698D2A1F221C97BCD7698C33" loggingCookieName=".SFLOG-SF_WOP">
	<securityTokenIssuers>
		<add key="664BBB48C148A144B5B4B1C628494E3E3382065D4CDFAC930D2831255A9A1B0D" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="664BBB48C148A144B5B4B1C628494E3E3382065D4CDFAC930D2831255A9A1B0D" realm="http://localhost" />
	</relyingParties>
</securityConfig>